<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanjohn.complexz.udsmlms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/udsm_lms"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity
            android:name=".navigation"
            android:label="LEARNING FORUM"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>